<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/skeleton**" access="hasRole('ADMIN') or hasRole('STAFF')" />
		<intercept-url pattern="/dba**"
			access="hasRole('ADMIN') and hasRole('DBA')" />
		<form-login login-page="/" username-parameter="id"
			password-parameter="password" authentication-failure-url="/Access_Denied"
			authentication-success-handler-ref="LoginSuccessHandler" />
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="loginService" />
	</authentication-manager>

	<beans:bean id="loginService" class="com.adeaw.service.LoginService" />
	
	<beans:bean id="LoginSuccessHandler" class="com.adeaw.configuration.LoginSuccessHandler" />


</beans:beans>